//
// Science Template Styles
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

.front #novaContent{
  padding-top:2em;
}

#header-left {
  padding-top: 15px;
  padding-bottom: 10px;
}

#header-right {
  padding-top: 50px;
}