.views-row-odd, .search-result.odd {
  .node-project-project-collapse {
    .collapsible-item.collapsed {
      background-color:@project-list-collapse-odd-background-color;
    }
  }
}

.views-row-even, .search-result.even {
  .node-project-project-collapse {
    .collapsible-item.collapsed {
      background-color:white;
    }
  }
}

.collapsible-item {
  cursor: pointer;
  color:@project-list-text;
  background-color:@project-list-background-color;
  &.collapsed {
    &:hover {
      background-color:@project-list-background-color!important;
    }
    .collapse-header-icon {
      .glyphicon-chevron-right;
    }
  }
  .collapse-header-icon {
    float: left;
    margin-top:8px;
    color:@brand-info;
    .glyphicon;
    .glyphicon-chevron-down;
  }
  .collapse-header-title {
    font-weight:bold;
  }
  .collapse-header-website,
  .collapse-header-code,
  .collapse-header-download {
    text-align: center;
    font-size: 1.4em;
    padding-top:3px;
    &.inactive {
      i {
        cursor: auto;
      }
      color:@project-list-icon-disabled;
    }
    a {
      color:@project-list-icon-enabled;
    }
  }
}
.collapsible-item-content {
  background-color:white;
  border: solid;
  border-color:@blue-lighter;
  border-width:2px;
  padding-top:2em;
  padding-bottom:3em;
  @media (max-width: @screen-sm-max) {
    text-align: center;
    .collapse-body {
      text-align: left;
    }
    .collapse-learn-more-container {
      padding-top: 15px;
    }
  }
  .collapse-logo img {
    min-width: 40%;
    max-width: 100%;
  }
  .project_state { // Overriding project_state module css
    width: 20.83%;
  }
  .collapse-title {
    
  }
  .collapse-learn-more {
    button {
      width: 10em;
    }
  }
}
