//
// block-box
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

.block-box,
.sideitem,
.region-sidebar-second .block{
    h2, h3, h6{
        background:@brand-info;
        color:#fff;
        margin-top:0;
        padding:15px 20px;
        text-transform: uppercase;
        font-weight:700;
        font-size:15px;
        i{
            float:right;
            padding-top:3px;
        }
        a:hover{
            color:#fff;
        }
    }
    background:#fff;
    color:#202020;
    margin-bottom:2em;
    .content{
        padding:0.5em 1em;
    }
    li{
        padding-bottom:20px;
        padding-left:14px;
        i{
            margin-top:3px;
        }
    }
    .reset li{
        padding-left:0;
        padding-bottom:15px;
        .date{
            padding-bottom:5px;
            padding-top:3px;
            font-weight:600;
            display:block;
            clear:both;
        }
    }
    ul ul{
        padding-top:5px;
        li{
            padding-bottom:2px;
        }
    }
}

.block-box.block-box-classic,
.sideitem,
.region-sidebar-second .block {
    padding:3px;
    border:1px solid #d5d5d5;
    margin-bottom:5em;
}

.sideitem,
.region-sidebar-second .block{
    background:#f6f6f6;
    margin-bottom:2em;
    padding:3px;
    li{
        padding:3px;
    }
    p{
        margin-right:10px;
        margin-left:10px;
    }
}
