.landing-well {
	
	@media ( min-width : @screen-md-min) {
    padding-bottom: 0px;
    text-align:left;
    h1 {
      margin-top: 0.76em;
    }
    .circle{
      height: 130px;
      margin:0 20px;
      font-size:37px;
      width: 130px;
      h3{
        font-size:12px;
        top: 4em;
        width: 74%;
      }
    }
  }
  
	background-image:url("../images/components/landing-well/background.jpg");
	background-repeat: no-repeat;
	background-position: center middle; 
	
 .background-size(cover);
  background-attachment:fixed; 
	border-top: 1px solid #afbbdc;
	border-bottom: 1px solid #afbbdc;
	color: #000;
	text-align: left;
	position: relative;
	width: 100%;
	text-align: center;
  h1 {
    font-size: 3.5em;
   	padding-top: 0.2em;
   	font-weight: 400;
  }
   
  p {
  	font-size: 1.2em;
  	font-weight: 400;
  }
  
  .landing-well-action {
  	text-align: center;
  }
  
  .list-glyphicon {
  	margin: 2em 0 0 0;
  	padding-bottom:1em;
  }
}