//
// Promoted Plugin
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

.promoted-plugin {
    background-color:#fff;
    .drag{
        display:block;
        border:1px solid #e0e0e0;
        text-decoration:none !important;
        &:hover{
            background:#fbf7fb;
            cursor:move;
           .tooltip{
                display:block;
           }
       }
    }
    .header {
        background:#F7941E none repeat scroll 0% 0%;
        display:block;
        padding:0 10px;
        text-align:center;
        h3 {
            padding: 8px 0;
            color:#fff;
            font-size:18px;
            margin:0;
       }
    }
    .content {
        padding:10px 0;
        display:block;
        .pp-content {
            font-size:12px;
            margin-bottom:0;
            line-height:1.5;
            padding:0 5px;
        }
        .pp-image{
          padding:0 5px 0 10px;
        }
        .pp-title{
          display:block;
          clear:both;
        }
        .pp-text{
          font-weight:normal
        }
    }
    .download {
          background-color:#333333;
          text-align:center;
          color:#fff;
          display:block;
          font-weight:100;
          .download-icon{
            padding-left:0;
          }
          .download-text{
              padding-left:0;
              padding-top:8px
          }
          .fa {
              font-size:18px;
              padding:10px;
              background-color:#282828;
          }
          a {
              color:#fff;
              font-weight:normal;
              &:hover{
                  color:#fff;
              }
          }
     }
}
