//
// Working Styles
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

// Core variables and mixins
@import "../projects/styles.less";
@import "_variables.less";

.front {
  .page-header{
    .hide;
  }
  main{
    background:#fff;
    padding:0;
  }
}

.block-region-sidebar-second,
.block-region-sidebar-first{
  &.pretty-block{
    .block-content{
      background:#fff;
      h2{
        font-size:19px;
        margin-top:0;
        padding-top:20px;
        &:first-of-type{
          padding-top:0;
        }
      }
    }
    a{
      font-weight:bold;
      color:@brand-primary;
      &:hover{
        color:@brand-info;
      }
    }
    h3,h4,h5,h6{
      font-size:17px;
    }
  }
}
