//
// Eclipse.org template styles
// --------------------------------------------------

#header-left {
  padding-top: 15px;
  padding-bottom: 10px;
}

#header-right {
  padding-top: 25px;
}

#btn-call-for-action {
  padding-bottom: 0;
  margin-top: 7px;
}

#main-menu-wrapper{
  clear:left;
}

.thin-header {
  #header-left {
    padding-top: 0px;
    padding-bottom: 10px;
  }

  #main-menu-wrapper {
    padding-top: 2px;
    clear:none;
  }
}

footer#solstice-footer{
  .logo-eclipse-white{
     max-width:161px;
  }
}


.ad-eclipsecon-schedule {
  background-color:#fff;
  width:200px;
  height:200px;
  float:right;
  padding:5px;
  text-align:center;
  h3 {
    margin-top:0;
  }
  div {
    margin:0;
    padding:0;
  }
}