.block-related-projects {
  a {
    margin-left : 5px;
  }

  ul {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 10px;
  }
  ul.related-projects-block-related-list li.item-container {
    font-weight: 600;
    &:before {
      content: "";
    }
  }
  li {
    font-weight: 400;
    &.hierarchy-1 { }
    &.hierarchy-2 { margin-left: 10px; }
    &.hierarchy-3 { margin-left: 20px; }
    
    &.ellipsis:before, &:before {
      content: "\00BB";
      color: @brand-warning;
      font-family: FontAwesome;
    }
  }
}

