//
// EclipseCon Flickr Styles
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------
.block-flickr{
  .flickr-album-heading{
    display:none;
  }
  .flickr-album-counter,
  .flickr-album{
    text-align:center;
    display:block;
    clear:both;
  }
  .flickr-album a{
    padding:5px
  }
}