//
// Footer
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

footer{
    background: url("../images/template/footer-bg.jpg") no-repeat center center #242426;
    .background-size(cover);
    padding-top:3.5em;
    color:#a8a7a9;
    padding-bottom:26px;
    section{
        z-index:9999;
    }
    h1{
        padding-top:0.5em;
        padding-bottom:0.7em;
        color:#737373;
        font-size:2em;
        strong{
            color:#C4C4C4;
        }
    }
    h2{
        color:#fff;
        padding-bottom:7px;
        margin-top:0;
        font-size:2rem;
        border-bottom:2px solid #6e6d71;
        max-width:80%;
    }
    a:link,
    a:active,
    a:visited{
        color:#a8a7a9;
        font-weight:400;
    }
    #logo-eclipse-white{
        margin-bottom:15px;
    }
    .nav{
        margin-left:-15px;
        margin-bottom:25px;
        a{
            padding: 6px 15px 6px 20px;
            &:hover{
                background:none;
                color:@eclipse-orange;
            }
        }
    }
    li{
        padding-bottom:0;
    }
    
    @media (max-width: @screen-sm-max) {
        #copyright-text,
        #footer-other{
            text-align: left;
            clear:both;
        }
    }
    
    @media (max-width: 450px) {
        section.col-xs-11,
        section.col-xs-14{
            .make-xs-column(23);
        }
    }
    
    @media (min-width: 451px) and (max-width: @screen-xs-max) {
        #footer-useful-links{
            clear:left;
        }
        #copyright{
            clear:both;
        }
    }
}

#copyright{
    padding-top:15px;
    img{
        float:left;
        margin-top:10px;
        margin-right:15px;
        clear:both;
    }
}

#copyright-text{
    padding-top:21px;
    text-align:right;
}

.social-media{
    margin-top:57px;
    font-size:2.3em;
    a:hover{
        color:@eclipse-orange;
    }
}
  
   