//
// Header area
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

#row-toolbar{
    padding:8px 0 0 0;
    font-size:12px;
    color:#666;
    font-weight:300;
    a{
        font-weight:300;
        padding-left:4px;
        color:#666;
        &:hover{
            color:@brand-warning;
        }
    }
}

#header-right-container{
    float:right;
}

header{
    .navbar-collapse{
        padding-left:0;
        padding-right:0;
    }
    li{
        padding-bottom:0;
    }
}

@media ( max-width : @screen-xs-max) {
    #row-toolbar-col{
        padding:0;
    }
}

@media ( max-width : @screen-sm-max) {
    .no-breadcrumbs-with-promo{
        .promo-link{
          padding-top:15px;
        }
    }
}

#btn-sign-in{
    float:right;
    margin-left:10px;
}

#btn-call-for-action{
    display:block;
    margin-top:14px;
}

#header-right{
    margin-top:35px;
    text-align:right;
    .btn-sm{
        font-size: 10px;
    }
}

#custom-search-form{
    #search-box,
    .input-group-btn button{
        height:30px;
        font-size:12px;
    }
}

#header-left{
    .logo-eclipse-default{
        max-width: @logo-max-width;
        clear: both;
        @media (min-width: @screen-sm-min) {
            margin: @logo-margin;
        }
    }
}

.thin-header{
    @media (max-width: @screen-xs-max) {
        #page-header-logo > .container{
            padding:0;
        }
    }
    #main-menu li a.dropdown-toggle{
        margin-right:0;
    }
    #main-menu{
      padding-right:0;
    }
    .visible-thin{
        .show;
        visibility: visible !important;
    }
}

@media (min-width: @screen-sm-min) {
  .thin-header{
    #breadcrumb{
      .breadcrumb{
        margin-top:4px;
        margin-bottom:7px;
        font-size:12px;
      }
    }
    #row-toolbar{
      position:absolute;
      right:0;
      z-index:99;
    }
    #navbar-collapse-1{
      .pull-right;
    }
     #header-left{
      .logo-eclipse-default{
        max-width: @thin-logo-max-width;
      }
      .logo-eclipse-default{
        margin:@thin-logo-margin;
      }
      #main-menu{
        margin-top:17px;
        margin-bottom:12px;  
        .dropdown-menu{
          right:0;
          left:auto;
        }
      }
    }
  }
}
