//
// Main area
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

main{
	position:relative;
	padding-top:2em;
	padding-bottom:2em;

}

.container{
  /*max-width: 980px;*/
  margin: 0 auto;
}

.sideitem,
.region-sidebar-second .block{
	color:#fff;
  background:@brand-info;
  padding:10px 20px;
  margin-bottom:1em;
  a{
    color:#fff;
    padding:0;
    &:hover{
      background:none;
      color:@brand-primary;
    }
  }

  h2, h6{
    margin-top:0;
    padding:10px 0 3px 0;
    font-size:2rem;
    font-weight:bold;

  }
}

#ul-left-nav{
   margin-bottom: 10px;
}