//
// Main area
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

main{
    position:relative;
    padding-bottom:2em;
    &.no-promo{
      padding-top:2em;
      .breadcrumbs-offset{
        margin-top:-2em;
      }
    }
}

.container{
    margin: 0 auto;
}

#ul-left-nav{
    margin-bottom: 10px;
}