
#mobile-sidebar {
    margin-top:50px;

    a, a:hover {
        color: @white;
    }

    .sidebar-item {
      background-color: @main-sidebar-bg;
      padding:10px 0 10px;

      &.active {
        background-color: @main-sidebar-bg;
        a {
          color:@white;
        }
        &:hover {
          background-color: darken(@main-sidebar-bg, 15%);
        }
      }
      &:hover:not(.active) {
        background-color: darken(@main-sidebar-bg, 15%);
      }
    }

    .sidebar-item:not(:last-child) {
        border-bottom: solid @main-sidebar-list-border 1px;
    }

    .sidebar-sub-items {
      background-color:@white;
      a {
        color:  @main-sidebar-bg;
        &:hover {
          font-weight:bold;
        }
      }
    }
    .sidebar-sub-item {
      padding:0 0 8px 15px;
      margin-bottom:0;
      a.active {
        .sidebar-text {
          font-weight:bold;
        }
      }
      &:first-child {
        margin-top:15px;
      }
      &:last-child {
        margin-bottom:15px;
      }
    }
    a {
      display: block;
      .sidebar-text {
        padding:0 0;
      }
    }
}

#dropdown-container {
  .parent-menu {
    font-weight: 600;
  }
}
