//
// Solstice User Profile
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// ----------------------------------------------------
.solstice-user-profile{
  hr{
    margin-top:0;
  }
  h3{
    margin-top:0;
  }
  footer{
    padding-top:20px;
    ul{
      margin-bottom:0;
    }
  }
  .social-media-links{
    a{
      &:link,
      &:visited{
        color:#877daf;
      }
      &:hover{
        color:@brand-primary;
      }
    }
    font-size:18px;
    padding-top:3px;
  }
}