//
// Classes
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

/* Float */
.float-right{
    float:right;
}

.float-left{
    float:left;
}

/* Spacing */
.padding-top{
    padding-top:3em;
}

.padding-bottom{
    padding-bottom:3em;
}

.reset{
    padding:0;
    margin:0;
}

/* Colors */
.orange{
    color:@eclipse-orange;
}

.red{
    color:red;
}

.green{
    color:green;
}

/* Background colors */
.background-orange{
    background:@eclipse-orange;
    color:#000;
    select{
        color:#000;
    }
}

.background-charcoal{
    background:#2f2f31;
    color:#fff;
    select{
        color:#2f2f31;
    }
}

.background-grey{
    background:@eclipse-highlight-grey;
}

.background-purple{
    background:#2c2255;
    color:#fff;
}

.background-white{
    background:#fff;
}

#novaContent.background-image-none{
    background-image:none;
}

/* Animations */
.fade-anim:hover{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

/* Offset */
.breadcrumbs-offset{
    margin-top:-2em;
}

.footer-offset{
    padding-bottom:0;
    margin-bottom: -28px;
}

/* Tables */
.table-layout-fixed{
    table-layout: fixed;
}
