//
// Fonts
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

a{
    font-weight:bold;
    color:@brand-primary;
    &:hover{
        text-decoration:none;
        color:@eclipse-orange;
    }
}

/* Font-size */
.font-size-large{
    font-size:58px;
}
li{
    padding-bottom:7px;
}

ul{
    ul{
        margin-top:5px;
    }
}

/* Text styles */
.uppercase{
    text-transform: uppercase;
}

.fw-300{
    font-weight:300;
}

.fw-400{
    font-weight:400;
}

.fw-600{
    font-weight:600;
}

.fw-700{
    font-weight:700;
}

.emphasis{
    color:@eclipse-orange;
    font-weight:700;
}

.small{
    font-size:10px;
}

.required{
    color:red;
}

blockquote{
  font-size: @font-size-base;
}

/* List checkmark*/
.list-checkmark{
    > li{
        padding-right:40px;
        padding-left:0;
    }
    a{
        &:link,
        &:visited {
            font-weight:bold;
            color:#969696;
        }
        &:hover{
            color:@eclipse-orange;
        }
    }
}

