//
// Fonts
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

h1,h2,h3,h4,h5,h6 {
	font-family: @font-family-heading;
	font-weight: 300;
}

h1{
  margin-bottom:30px;
}

a{
	font-weight:bold;
	color:@brand-primary;
	&:hover{
	  text-decoration:none;
	  color:@eclipse-orange;
	}
}

.nav {
	font-family: @font-family-heading;
}

p, li {
	font-weight: 300;
}

/* Font-size */
.font-size-large{
	font-size:58px;
}


p + h3,
ul + h3{
  margin-top:2em;
}

li{
  padding-bottom:7px;
}

ul{
  ul{
    margin-top:5px;
  }
}
