//
// Locationtech Barebone
//
// author: Christopher Guindon <chris.guindon@eclipse.org>

@import "../eclipse_org/barebone/styles.less";
@import "_variables.less";

#page-header-logo{
  background:@brand-primary;
}

.barebone-layout{
  #header-left .logo-eclipse-default{
    margin-top:25px;
  }
  .navbar-brand>img{
    margin-top:10px;
  }
}
