//
// Locationtech Styles
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

// Solstice drupal specific styles
@import '../_core/styles.less';
@import "../wg/_variables.less";
@import "_variables.less";
@import "template.less";

@image-path: "../images";
@icon-font-path: "../fonts/";
@fa-font-path: "../fonts";

