//
// Menu
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

@media (min-width: @screen-sm-min) {
    #main-menu{
        font-size:0.9em;
        margin-bottom:5px;
        ul li {
            text-transform:uppercase;
        }
        .dropdown{
            li{
                text-transform:none;
            }
        }
        li{
            a{
                margin-right:0px;
                color: @main-menu-link-color;
                &:hover,
                &:active{
                    background:none;
                    color:@main-menu-link-active-color;
                }
            }
        }
        .dropdown-menu {
            left: 0;
            width: 100%;
            a{
                margin:0;
                color:@main-menu-dropdown-link-color;
                &:hover{
                  color:@main-menu-dropdown-link-hover-color;
                }
                &:active{
                  color:@main-menu-dropdown-link-active-color;
                }
            }
        }
    }
}