//
// Menu
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

@media (max-width: @screen-xs-max) {
    #main-menu{
        background:#efeef2;
        padding-left:0;
        padding-right:0;
        margin-bottom:0;
        .navbar-brand{
            height:65px;
        }
        &.navbar{
            border:0;
            border-bottom:1px solid @gray-mid-light;
        }
        .navbar-toggle {
            margin-top: 11px;
            .icon-bar {
                background:@brand-primary;
                height:3px;
            }
        }
        .nav {
            margin:0;
            background:@mobile-menu-background;
            & > li {
                border:1px solid lighten(@mobile-menu-background, 4%);
                &.open{
                    & .dropdown-toggle{
                        color:@mobile-menu-open-active-color;
                        background:@mobile-menu-open-active-background;
                    }
                }
                & > a {
                    color:@mobile-menu-color;
                    text-transform: uppercase;
                    &:hover, &:focus,
                    &.active-trail.dropdown-toggle {
                        background-color:@mobile-menu-hover;
                    }
                }
                .dropdown-menu {
                    background:@mobile-menu-dropdown-menu-background;
                    padding:0;

                    > li {
                      &.active{
                        a{
                          &:link,
                          &:visited{
                            background:@mobile-menu-dropdown-menu-active-background;
                            color:@mobile-menu-dropdown-menu-active-color;
                          }
                          &:hover,
                          &:focus{
                            color:@mobile-menu-dropdown-menu-active-hover;
                            background:@mobile-menu-dropdown-menu-active-hover-background;
                          }
                        }
                      }
                      > a{
                        padding: 5px 20px 5px 30px;
                        color:@mobile-menu-dropdown-menu-color;
                        &:hover,
                        &:focus{
                            color:@mobile-menu-dropdown-menu-hover;
                            background:@mobile-menu-dropdown-menu-hover-background;
                        }
                      }
                    }
                }
            }
        }
    }
}
