//
// Mixin
//
// author: Eric Poirier <eric.poirier@eclipse-foundation.org>
// --------------------------------------------------

.featured-story-shape {
  .clip-path-shape(@featured-story-shape);
  background-color:@featured-story-bg-color;
  @media (min-width: @screen-sm-min) {
    margin-top:-60px;
    margin-bottom:-30px;
  }
  @media (max-width: @screen-sm-max) {
    margin-top:-80px;
    margin-bottom:-40px;
  }
}

.featured-story {
  overflow:hidden;
  @media (max-width: @screen-xs-max) {
    text-align:center;
  }

  .featured-story-description {
    color:@featured-story-ad-p-color;
    font-size:@featured-story-ad-p-size;
    margin-top:5px;
    clear:both;
    padding-top:10px;
    margin-bottom:10px;
  }

  .featured-story, .featured-ad{
    padding-top:50px;
    @media (min-width: @screen-sm-min) {
      min-height:340px;
    }
  }
  .featured-story {
    .featured-story-description {
      font-size:1.1em;
      margin-bottom:10px;
    }
    background-position:top right;
    background-repeat:no-repeat;
    background-color:@featured-story-bg-color;
    @media (min-width: @screen-sm-min) {
      padding-right:100px;
      padding-bottom:50px;
    }
    h2 {
      color:@featured-story-h2-color;
      margin-top:0;
    }
    p {
      font-size:@featured-story-p-size;
      font-weight: 100;
      margin-bottom:20px;
    }
  }
  .featured-ad {
    padding-left:0;
    position:relative;
    background-color:@featured-story-ad-bg-color;
    padding-bottom:50px;
    @media (max-width: @screen-xs-max) {
      .clip-path-shape(@featured-story-shape);
    }
    @media (min-width: @screen-sm-min) {
      text-align:right;
      .eclipsefnd-ad{
        float: right;
        clear: both;
      }
      &:before, &:after {
        content: "";
        position: absolute;
        min-height: 340px;
        top:0;
        background-color:@featured-story-ad-bg-color;
      }
      &:before {
        width: 100px;
        z-index: 1;
        left: -45px;
        .clip-path-shape(@featured-story-ad-shape);
      }
      &:after {
        width: 1000px;
        z-index: -1;
        left: 0;
      }
    }
  }
  .eclipsefnd-ad{
    clear: both;
  }
}


.eclipsefnd-ad a{
  .box-shadow(3px 4px 46px -6px rgba(0,0,0,0.51));
  background: #fff 50% no-repeat;
  height: 200px;
  width: 200px;
  display: block;
  text-align: center;
  text-indent: -9999px; 
  margin:auto;
}

.ad-strategic-default a{
  background-size: 200px 200px;
}