//
// Classes
//
// author: Christopher Guindon <chris.guindon@eclipse.org>
// -------------------------------------------------------

/* Float */
.float-right{
    float:right;
}

.float-left{
    float:left;
}

/* Spacing */
.padding-top-0{
    padding-top:0px
}

.padding-bottom-0{
    padding-bottom:0px
}

.padding-top-5{
    padding-top:5px
}

.padding-bottom-5{
    padding-bottom:5px
}

.padding-top-10{
    padding-top:10px
}

.padding-bottom-10{
    padding-bottom:10px
}

.padding-top-15{
    padding-top:15px
}

.padding-bottom-15{
    padding-bottom:15px
}

.padding-top-20{
    padding-top:20px
}

.padding-bottom-20{
    padding-bottom:20px
}

.padding-top-25{
    padding-top:25px
}

.padding-bottom-25{
    padding-bottom:25px
}

.margin-top-0{
    margin-top:0;
}

.margin-bottom-0{
    margin-bottom:0;
}

.margin-bottom-5{
    margin-bottom:5px;
}

.margin-top-5{
    margin-top:5px;
}

.margin-bottom-10{
    margin-bottom:10px;
}

.margin-top-10{
    margin-top:10px;
}

.margin-bottom-15{
    margin-bottom:15px;
}

.margin-top-15{
    margin-top:15px;
}

.margin-bottom-20{
    margin-bottom:20px;
}

.margin-top-20{
    margin-top:20px;
}

.margin-bottom-25{
    margin-bottom:25px;
}

.margin-top-25{
    margin-top:25px;
}

.margin-right-5{
  margin-right:5px;
}

.margin-left-5{
  margin-left:5px;
}

.margin-right-10{
  margin-right:10px;
}

.margin-left-10{
  margin-left:10px;
}

.margin-right-15{
  margin-right:15px;
}

.margin-left-15{
  margin-left:15px;
}

.margin-right-20{
  margin-right:20px;
}

.margin-left-20{
  margin-left:20px;
}

.margin-right-25{
  margin-right:25px;
}

.margin-left-25{
  margin-left:25px;
}

.padding-top{
     /* DEPRECATED */
    padding-top:3em;
}

.padding-bottom{
    /* DEPRECATED */
    padding-bottom:3em;
}

.reset{
    padding:0;
    margin:0;
}

/* Visibility */
.visible-thin{
    .hidden;
}

/* Colors */
.orange{
    color:@eclipse-orange;
}
.yellow{
    color:yellow;
}
.red{
    color:red;
}

.green{
    color:green;
}

.gray-light{
    color:@gray-light;
}

/* Background colors */
.background-orange{
    background:@eclipse-orange;
    color:#000;
    select{
        color:#000;
    }
}

.background-charcoal{
    background:#2f2f31;
    color:#fff;
    select{
      color:#2f2f31;
    }
}

.background-grey{
    background:@eclipse-highlight-grey;
}

.background-purple{
    background:#2c2255;
    color:#fff;
    select{
        color:#2f2f31;
    }
}

.background-blue{
    background:@brand-info;
    color:#FFF;
}

.background-white{
    background:#fff;
}

#novaContent.background-image-none{
    background-image:none;
}

/* Animations */
.fade-anim:hover{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

/* Offset */
.footer-offset{
    padding-bottom:0;
    margin-bottom: -28px;
}

/* Tables */
.table-layout-fixed{
    table-layout: fixed;
}

/* Grid/Columns */
.border-left-col{
  @media (min-width: @screen-sm-min) {
    border-left:1px solid #ccc;
    padding-left:62px;
  }
}

.border-right-col{
  @media (min-width: @screen-md-min) {
    border-right:1px solid #ccc;
    padding-right:62px;
  }
}

/* Five Column Bootstrap Implementation */
.col-xs-5-eclipse,
.col-sm-5-eclipse,
.col-md-5-eclipse,
.col-lg-5-eclipse{
  position:relative;
  min-height:1px;
  padding-right:10px;
  padding-left:10px;
}
.col-xs-5-eclipse{
  width:20%;
  float:left;
}
@media(min-width:768px){
  .col-sm-5-eclipse{
    width:20%;
    float:left;
  }
}
@media(min-width:992px){
  .col-md-5-eclipse{
    width:20%;
    float:left;
  }
}
@media(min-width: 1200px){
  .col-lg-5-eclipse{
    width:20%;
    float:left;
  }
}

/* Donation Button */
.donation-button {
  padding-top:0.75em;
  padding-bottom:0.75em;
  padding-left:3.5em;
  padding-right:3.5em;
}

/* Simple button*/
.btn-simple{
  border:1px solid #ccc;
  text-transform: capitalize;
  &:hover,
  &:active{
    border:1px solid @gray-light;
    background:@gray-lighter;
  }
}


/* Box-sizing resets
 *
 * Reset individual elements or override regions to avoid conflicts due to
 * global box model settings of Bootstrap. Two options, individual overrides and
 * region resets, are available as plain CSS and uncompiled Less formats.
 */

.reset-box-sizing {
  &,
  *,
  *:before,
  *:after {
    .box-sizing(content-box);
  }
}

/* Vertical alignment */
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* Tags */
.solstice-tags {
  line-height: 2em;
  a {
    font-size: 0.85em;
    background-color: @eclipse-highlight-grey;
    border-bottom: 2px solid #dfdfdf;
    margin: 2px;
    padding: 0 5px 2px 5px;
  }
}

/* Ellipsis */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-border{
  border:none !important;
}

img.desaturate { 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* TABLE */
.table.table-solstice{
  th{
    background:@brand-info;
    color:#fff;
    vertical-align: middle;
    &:nth-child(even){
      background:#40bbdc;
    }
  }
}

.vertical-align{
  display: flex;
  align-items: center;
}